@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display-swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #fff;
  font-family: 'Poppins',sans-serif;
}

.navbar {
  background: #222;
  padding: 5px 20px;
}

.navbar ul {
  list-style-type: none;
}

.navbar ul a {
  color: white;
  text-decoration: none;
}

.navbar .logo a {
  text-decoration: none;
}

.navbar ul li {
font-size: 16px;
padding: 15px 5px;
white-space: nowrap;
}

.navbar .logo a,
.navbar .toggle {
  color: #fff;
  font-size: 20px;
}

.navbar li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navbar li a.active {
  border-bottom: 2px solid #fff;
  padding: 2px;
}

.navbar li a:after {
  content: '';
  position: absolute;
  width: 90%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0px;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Mobile Menu*/

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}

.nav-link {
  width: 100%;
  text-align: center;
  order: 2;
  display: none;
}

.nav.active {
  display: block;
}

/* Tablet Menu */
@media all and (min-width: 600px) {
  .navbar .nav {
    justify-content: center;
  }
  .navbar .logo {
    flex: 1;
  }
  .navbar .nav .toggle {
    width: auto;
    order: 1;
    display: block;
  }
}

@media all and (min-width: 900px) {
  .navbar .nav .nav-link {
    display: block;
    width: auto;
  }
  .navbar .nav .toggle {
    display: none;
  }
  .navbar .nav li {
    margin-right: 50px;
  }
}