@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display-swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body {
  min-height: 100vh;
  background: #fff;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: black;
}

.navbar .logo {
  float: left;
  margin-left: 15%;
}

.navbar .logo a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}

.navbar ul {
  float: right;
}
.navbar li {
  list-style: none;
  position: relative;
  display: inline-block;
  margin-right: 50px;
  font-size: 16px;
  margin-top: 15px;
  right: 50%;
}

.navbar li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navbar li a:after {
  content: '';
  position: absolute;
  width: 80%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar i {
  color: #fff;
  float: right;

}

@media only screen and (max-width: 1200px) {
  .navbar ul li {
    display: none;
  
  }
}








