
body {
    background-image: url("/Web Programming/img/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: absolute;
    box-sizing: border-box;
}

.da-student {
    max-width: 100%;
    position: relative;
    margin-left: -18%;
    margin-top: -10%;

}

.da-text {
    font-size: 70px;
    font-weight: bold;
    color: rgb(254, 223, 45);
    font-family: 'Libre Franklin', sans-serif;
}

.student-text {
    position: absolute;
    top: 53%;
    left: 40%;
    transform: translate(-80%,-50%);
    font-size: 40px;
    font-weight: bold;
    color: white;
}
.menu {
    width: 120%;
    position: relative;
    text-align: center;
    transform: translate(70%, 0%);
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    padding : 10% 5%;
    
}
ul li {
    list-style: none;
    display: inline-block;
    font-size: 50px;
    padding: 30px;

}
ul a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul a:hover{
    color: #fedf2d;
}

.social-menu {
    position: relative;
    transform: translate(90%,-20%);
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media  screen and (min-width: 1200px) {
    .da-student {
        left: 20%;
    }

    .da-text {
        font-size: 80px;
    }

    .student-text {
        left: 40%;
        font-size: 60px;
    }

    .menu {
        left: 25%;
    }

    .social-menu {
        margin-top: 70px;
        left: 93%;
    }
}

@media  screen and (min-width: 992px) {
    .da-student {
        max-width: max-content;
        left: 20%;
    }

    .da-text {
        font-size: 70px;
    }
    .student-text {
        top: 52%;
        left: 290%;
        font-size: 50px;
    }
    .menu {
        left: -30%;
    }
    .menu  li {
        font-size: 50px;
        
    }
    .social-menu {
        margin-top: 50px;
        left: -22%;
        text-align: center;
    }
    .social-menu li {s
        font-size: 40px;
    }
}



@media  screen and (max-width: 768px) {
    
    .da-student {
        max-width: max-content;
        left: 20%;
    }

    .da-text {
        font-size: 70px;
    }
    .student-text {
        top: 52%;
        left: 290%;
        font-size: 50px;
    }
    .menu {
        left: -30%;
    }
    .menu  li {
        font-size: 45px;
        
    }
    .social-menu {
        margin-top: 50px;
        left: -22%;
        text-align: center;
    }
    .social-menu li {s
        font-size: 40px;
    }
}

@media screen and (max-width: 600px) {
    .da-student {
        max-width: max-content;
        left: 20%;
    }

    .da-text {
        font-size: 50px;
    }
    .student-text {
        top: 49%;
        left: 320%;
        font-size: 40px;
    }
    .menu {
        left: -30%;
    }
    .menu  li {
        font-size: 35px;
    }
    .social-menu {
        margin-top: 70px;
        left: -20%;
    }
    .social-menu li {
        font-size: 40px;
    }
}



